@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #2874f0;
    height: 8vh;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

header ul{
    display: flex;
    margin-left: 30px;
}

header ul li{
    list-style: none;
    margin: 20px;
    cursor: pointer;
}

header ul li a{
    text-decoration: none;
    color: white;
}

header ul li a:hover{
    font-weight: bold;
}

.logoWrapper{
    margin-left: 10px;
}

.logoWrapper img{
    width: 100px;
}

.search input{
    width: 20vw;
    height: 30px;
    margin-left: 40px;
    border: none;
    border-radius: 2px;
}

.search button{
    margin-left: 20px;
    height: 25px;
    width: 60px;
    border: none;
    cursor: pointer;
}

.search button:hover{
    font-weight: bold;
}

.container{
    height: calc(92vh-70px);   
    font-family: 'Lato', sans-serif;
}

.sliderWrapper{
    display: flex;
    margin: 5px auto;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.sliderWrapper .slidingImage{
    width: 90vw;
    height: 50vh;
}

.prev, .next{
    width: 25px;
    height: 50px;
    font-size: 40px;
    cursor: pointer;
}

.card{
    max-width: 90vw;
    margin: 35px auto;
}

.cardWrapper h3{
    margin: 25px 0;
}

.cards{
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
}

.cards::-webkit-scrollbar{
    display: none;
}

.card-item{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
}

.productDetails p{
    text-align: center;
    margin: 5px 0;
}

footer{
    height: 12vh;
    background-color: #2874f0;
    color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes autoplay {
    0% {opacity: 0.0}
    100% {opacity: 1.0}
  }

.sliderWrapper img{
    animation: 4s autoplay infinite ease-in-out;
}